mixin product-card(picture, icons, labels, title, fact, description, details, price, remark, mods)
  -
    const baseName = 'product-card'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '_' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  a.product-card(class=allMods)&attributes(attributes)
    .product-card__showcase
      .product-card__icons
        each icon in icons 
          case icon.toLowerCase()
            when "Magnet".toLowerCase()
              +icon("Магнит")
                +picture('magnet.svg')
            when "Box".toLowerCase()
              +icon("Коробка")
                +picture('box.svg')
            when "Temp".toLowerCase()
              +icon("Температура")
                +picture('temp.svg')
            when "Stove".toLowerCase()
              +icon("Плитка")
                +picture('stove.svg')
      .product-card__labels
        each label in labels
          .product-card__label= label
      figure.product-card__media
        +picture('product.png')
    .product-card__flipcard
      .product-card__front
        .product-card__info
          if fact
            span.product-card__fact= fact
          h4.product-card__title= title
          p.product-card__description= description
        .product-card__economy
          p.product-card__price= price
          .product-card__subline
            .product-card__remark= remark
            .product-card__action
              +arrow
      .product-card__back
        p.product-card__details= details
        .product-card__lone-action
          .product-card__action
            +arrow
